<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>

<body>

    <%- include("partials/header") %>
    <%- include("partials/header-nav") %>


    <main class="admin-main">
        <h1 class="admin-main-h1">Admin Panel</h1>

        <% products.forEach(element => { %>
            <div class="admin-main-box">
              <div class="admin-main-box-left">
                <a href="#modal-admin" class="admin-main-box-boxOne">
                  <div class="circle"><i class="fa-solid fa-circle"></i></div>
                  <h3><%= element.name %></h3>
                  <img src="<%= element.image %>" alt="<%= element.name %>">
                </a>
              </div>
              <div class="admin-main-box-right">
                <section class="admin-main-box-boxDos-section">
                  <nav class="admin-main-box-boxDos-section-divDos">
                    <a class="action-link" href="/products/productCreate"><i class="fa-solid fa-plus"></i></a>
                    <a class="action-link" href="/products/productEdit/<%= element.id %>"><i class="fa-regular fa-pen-to-square action-icon"></i></a>
                    <a class="action-link" href="#modal-remove<%= element.id %>"><i class="fa-regular fa-trash-can action-icon"></i></a>
                  </nav>
                </section>
              </div>
            </div>
          <% }) %>

        <div id="modal-admin" class="modal-overlay">
            <!-- Contenido del modal de administración -->
        </div>
        
        <% products.forEach(element => { %>
            <div id="modal-remove<%= element.id %>" class="modal-overlay">
                <div class="modal-remove-admin">
                    <div class="modal-admin-hijo">
                        <img src="/img/<%= element.image %>" alt="">
                        <div class="product-details">
                            <h2><%= element.name %></h2>
                            <span>$<%= element.price %></span>
                        </div>
                    </div>
                    <h3>¿Estás seguro de eliminar este producto?</h3>
                    <form action="/products/remove/<%= element.id %>?_method=DELETE" method="POST">
                        <div class="button-container">
                            <button type="submit" name="delete">Aceptar</button>
                            <a href="#" class="close-modal">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        <% }) %>
        
    </main>

</body>
</html>
