<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>


<body>
    
    <%- include("partials/header") %>
     

    <!----------------------------login-------------------------------------------------->
    <%- include("partials/login", {viewError2:"/#modal"}) %>
    
    
    <!--------------------------REGISTRO------------------------------------------------->
    <%- include("partials/register", {view:"/#register"}) %>
    
    <!----------------------------nav-bar ------------------------------------------------->
    <%- include("partials/modal-cel") %>
   
    <%- include("partials/header-nav") %>

    

    <%- include("partials/banner-swipe") %>
    

    <main class="home">




            <aside class="banner-izquierdo">
                <img src="/img/banner-vertical-1.png" alt="">
            </aside>

            

        <div class="main-contenido">
        

            <section class="padre-marcas">
                <h2 id="marcas" >NUESTRAS MARCAS</h2>
                <div class="padre-carrusel-marcas">
                    <div class="carrusel-marcas">
                        
                        

        <%- include("partials/marcas") %>

        </div>
        </div>
        </section>


        <section>
            <h2 id="ofertas">PRODUCTOS DESTACADOS</h2>
        
        <%- include("partials/product") %>

        </section>

        
        
        <h2 id="productos">LOS MAS VISTOS</h2>

        <%- include("partials/carousel-home") %>


        <div class="home_box">
            <div class="home_box_brand">
                <div class="home_box_brand_razer">
                    <div class="home_box_brand_razer_img"><a href="/brandrazer"><img src="/brands/razer-700x394.jpg" alt=""></a></div>
                    <div class="brand_title_container"><h3>Razer</h3></div>
                </div>

                    <div class="home_box_brand_caja">
                        <div class="home_box_brand_corzair">
                            <div class=""><a href="/brandcorzair"><img src="/brands/40695a8fd41accaa.jpg" alt=""></a></div>
                            <div class="brand_title_container"><h3>Corzair</h3></div>
                        </div>
                        <div class="home_box_brand_aorus">
                            <div><a href="/brandaorus"><img src="/brands/e59be922c09f18cc87e7efa55ceef101.jpg" alt=""></a></div>
                            <div class="brand_title_container"><h3>Aorus</h3></div>
                        </div>
    
                    </div>
            </div>
            <div class="home_box_category">
                <div class="home_box_category_one">
                    <div class="home_box_category_one_uno">
                        <div class="home_box_category_one_uno_primera">
                            <img src="/img/categorias/accesorios.jpg" alt="">
                            <a class="mensaje-categoria1" href="/products/shoppingcart">Accesorios</a>
                        </div>
                        <div class="home_box_category_caja">
                            <div class="home_box_category_one_uno_segunda">
                                <img src="/img/categorias/ram.jpg" alt="">
                                <a class="mensaje-categoria2" href="/products/shoppingcart">Ram</a>
                            </div>
                            <div class="home_box_category_one_uno_tercera">
                                <img src="/img/categorias/notebook.jpg" alt="">
                                <a class="mensaje-categoria3" href="/products/shoppingcart">Notebook</a>
                            </div>
                        </div>
                    </div>
                    <div class="home_box_category_one_dos">
                        <div class="home_box_category_one_dos_primera">
                            <img src="/img/categorias/placadevideo.jpg" alt="">
                            <a class="mensaje-categoria4" href="/products/shoppingcart">Placas De Videos</a>
                        </div>
                        <div class="home_box_category_caja">
                            <div class="home_box_category_one_dos_segunda">
                                <img src="/img/categorias/monitor.jpg" alt="">
                                <a class="mensaje-categoria5" href="/products/shoppingcart">Monitor</a>
                            </div>
                            <div class="home_box_category_one_dos_tercera">
                                <img src="/img/categorias/perifericos.jpg" alt="">
                                <a class="mensaje-categoria6" href="/products/shoppingcart">Perifericos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home_box_category_two">
                    <div class="home_box_category_two_primera">
                        <div class="home_box_category_two_primera_uno">
                            <a href="http://localhost:3000/products/productList/1"><img src="/img/categorias/discoduro.jpg" alt=""></a>
                            <a class="mensaje-categoria7" href="/products/shoppingcart">Almacenamiento</a>
                        </div>
                        <div class="home_box_category_caja">
                            <div class="home_box_category_two_primera_dos">
                                <img src="/img/categorias/motherboard.jpg" alt="">
                                <a class="mensaje-categoria8" href="/products/shoppingcart">Motherboard</a>
                            </div>
                            <div class="home_box_category_two_primera_tres">
                                <img src="/img/categorias/cooler.jpg" alt="">
                                <a class="mensaje-categoria9" href="/products/shoppingcart">Coolers</a>
                            </div>
                        </div>
                    </div>
                    <div class="home_box_category_two_segunda">
                        <div class="home_box_category_two_segunda_uno">
                            <img src="/img/categorias/gabinete.jpg" alt="">
                            <a class="mensaje-categoria10" href="/products/shoppingcart">Gabinetes</a>
                        </div>
                        <div class="home_box_category_caja">
                            <div class="home_box_category_two_segunda_dos">
                                <img src="/img/categorias/fuente.jpg" alt="">
                                <a class="mensaje-categoria11" href="/products/shoppingcart">Fuentes</a>
                            </div>
                            <div class="home_box_category_two_segunda_tres">
                                <img src="/img/categorias/cpu.jpg" alt="">
                                <a class="mensaje-categoria12" href="/products/shoppingcart">Cpu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <h2 id="categorias">CATEGORIAS</h2>
            
            <article class="padre-carrusel">
                <!-- <div class="carrusel"-->

            <div class="carrusel">

                <% categorias.forEach(c => { %>
            

                       
                    <div class="categoria">
                        <a href="/products/productList/<%= c.id %>">
                        <img src="/img/<%=c.image%>" alt="">
                        <p><%=c.name%></p>
                        </a>
                    </div>
                    <% }) %>
            </div>
            </article>
            </div>
        </section>
        </div>
            
                <aside class="banner-izquierdo">
                    <img src="/img/banner-vertical2222.png" alt="">
                </aside>
            

    </main>


    <!----------------------------FOOTER-------------------------------------------------->
    <%- include('partials/footer') %>
    
    <script src="/js/validacionesRegister.js"></script>
</body>
</html>