<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    
    <%- include("partials/header") %>
     

    <!----------------------------login-------------------------------------------------->
    <%- include("partials/login", {viewError2:"/#modal"}) %>
    
    
    <!--------------------------REGISTRO------------------------------------------------->
    <%- include("partials/register", {view:"/#register"}) %>
    
    <!----------------------------nav-bar ------------------------------------------------->
    <%- include("partials/header-nav") %>



    <%- include("partials/banner-swipe") %>
    

    <main class="home">




            <aside class="banner-izquierdo">
                <img src="/img/banner-vertical-1.png" alt="">
            </aside>

            

        <div class="main-contenido">
        

            <section class="padre-marcas">
                <h2>NUESTRAS MARCAS</h2>
                <div class="padre-carrusel-marcas">
                    <div class="carrusel-marcas">
                        
                        

        <%- include("partials/marcas") %>

        </div>
        </div>
        </section>


        <section>
            <h2>PRODUCTOS DESTACADOS</h2>
        
        <%- include("partials/product") %>

        </section>


        <div class="banner-2">
            <img src="/img/banner2.jpg" alt="">
            <div class="contenido">
            <h3>arma tu pc</h3>
            <p>con la ayuda de nuestros expertos vas a poder armar la pc de tus suenos</p>
            <button>toma mi dinero</button>
            </div>
        </div>











        <div class="swiper-container3">
            <div class="swiper-wrapper3">
                <% products.forEach(product => { %>
                    <div class="swiper-slide3">
                        <div class="home-main-articulos">
                            <a class="home-main-articulos-a" href="/products/productDetail/<%= product.id %>">
                                <img src="/img/<%= product.image %>" alt="">
                                <div class="envio"> <p class="envio-p">envío gratis</p></div>
                                <div class="carro-item"><a class="carritoto" href="/products/shoppingcart"><i class="fa-solid fa-cart-shopping"></i></a></div>
                                <a class="mensaje-carrito" href="/products/shoppingcart">Agregar al carrito</a>
                                <p class="home-main-articulos-p"><%= product.name %></p>
                                <span>$<%= toThousand(product.price) %></span>
                                <a class="mensaje-comprar" href="/products/productDetail/<%= product.id %>"><%= product.message %></a>
                            </a>
                        </div>
                    </div>
                <% }) %>
            </div>
        
            <!-- Botones de navegación (opcional) -->
            <div class="swiper-button-prev3"></div>
            <div class="swiper-button-next3"></div>
        </div>
        
        
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        
        <script>
            var swiper = new Swiper('.swiper-container3', {
            
                navigation: {
                nextEl: '.swiper-button-next3',
                prevEl: '.swiper-button-prev3',
            },
            autoplay: {
                delay: 3000,
            },
            allowTouchMove: true,
});

        </script>














        <section>
            <h2>CATEGORIAS</h2>
            
            <article class="padre-carrusel">
                <!-- <div class="carrusel"-->

            <div class="carrusel">

                <% categories.forEach(c => { %>
            
           
                    <div class="categoria">
                        <a href="/products/productList/<%= c.name %>">
                        <img src="/img/<%=c.image%>" alt="">
                        <p><%=c.name%></p>
                        </a>
                    </div>
                    <% }) %>
            
            </div>
            </article>
            </div>
        </section>
        </div>
            
                <aside class="banner-izquierdo">
                    <img src="/img/banner-vertical2222.png" alt="">
                </aside>
            

    </main>


    <!----------------------------FOOTER-------------------------------------------------->
    <%- include('partials/footer') %>
    
</body>
</html>