<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    
    <%- include("partials/header") %>


    <!----------------------------login-------------------------------------------------->
    <%- include("partials/login") %>
    

    <!--------------------------REGISTRO------------------------------------------------->
    <%- include("partials/register") %>
    
    <!----------------------------nav-bar ------------------------------------------------->
    <%- include("partials/header-nav") %>

    <div class="banners">
        <img src="/img/banner1.jpg" alt="">
        <div class="contenido1">
            <h3>FOR GAMERS BY GAMERS</h3>
            <p>lo ultimo en tecnologia para que dejes de manquear</p>
        
        <button>CONOCE MAS</button>
        </div>
    </div>

    

    <main class="home">




            <aside class="banner-izquierdo">
                <img src="/img/banner-vertical-1.png" alt="">
            </aside>

            

        <div class="main-contenido">
        

        <section class="padre-marcas">
            <h2>NUESTRAS MARCAS</h2>
            <div class="padre-carrusel-marcas">
            <div class="carrusel-marcas">
                <a href="">
                    <img src="/img/aorus.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/razer.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/corsair.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/logitech-logo.png" alt="">
                </a>
                <a href="">
                    <img src="/img/wd.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/elgato.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/amd.webp" alt="">
                </a>
                <a href="">
                    <img src="/img/intel.webp" alt="">
                </a>
            </div>
        </section>

        <section>
            <h2>PRODUCTOS DESTACADOS</h2>
            <div class="padre-articulos">
                <% products.forEach(product => { %>
                        <div class="home-main-articulos">
                            <a class="home-main-articulos-a" href="/products/productDetail/<%= product.id %>">
                                <img src="/img/<%= product.image %>" alt="">
                                <div class="envio"> <p class="envio-p">envio gratis</p></div>
                                <div class="carro-item"><a class="carritoto" href="/products/shoppingcart"><i class="fa-solid fa-cart-shopping"></i></a></div>
                                <a class="mensaje-carrito" href="/products/shoppingCart">Agregar al carrito</a>
                                <p class="home-main-articulos-p"><%= product.name %></p>
                                <span>$<%= product.price %></span>
                                <a class="mensaje-comprar" href="/products/productDetail"><%= product.message %></a>
                            </a>
                        </div>
                <% }) %>
            </div>

        </section>

        <div class="banner-2">
            <img src="/img/banner2.jpg" alt="">
            <div class="contenido">
            <h3>arma tu pc</h3>
            <p>con la ayuda de nuestros expertos vas a poder armar la pc de tus suenos</p>
            <button>toma mi dinero</button>
            </div>
        </div>

        <section>
            <h2>CATEGORIAS</h2>
            
            <article class="padre-carrusel">
            <div class="carrusel">

                <div class="categoria">
                    <a href="">
                    <img src="/img/public (7).webp" alt="">
                    <p>almacenamiento</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (12).webp" alt="">
                    <p>ram</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (14).webp" alt="">
                    <p>cpu</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (18).webp" alt="">
                    <p>motherboard</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (10).webp" alt="">
                    <p>cpu cooling</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (19).webp" alt="">
                    <p>mouse</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (21).webp" alt="">
                    <p>teclado</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (17).webp" alt="">
                    <p>notebook</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (13).webp" alt="">
                    <p>gabinete</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (23).webp" alt="">
                    <p>sillas gamer</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (24).webp" alt="">
                    <p>microfonos</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (11).webp" alt="">
                    <p>conectividad</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (20).webp" alt="">
                    <p>parlante</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (22).webp" alt="">
                    <p>camara web</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (9).webp" alt="">
                    <p>fuentes</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (8).webp" alt="">
                    <p>auriculares</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (15) 1.png" alt="">
                    <p>microfono</p>
                    </a>
                </div>
                <div class="categoria">
                    <a href="">
                    <img src="/img/public (16).webp" alt="">
                    <p>mouse</p>
                    </a>
                </div>
            
            </div>
            </article>
            </div>
        </section>
        </div>
            
                <aside class="banner-izquierdo">
                    <img src="/img/banner-vertical2222.png" alt="">
                </aside>
            

    </main>


    <!----------------------------FOOTER-------------------------------------------------->
    <%- include('partials/footer') %>
    
</body>
</html>