<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headBoost') %>
<body class="create__body">
    <%- include('partials/header') %>
    <%- include('partials/header-nav') %>
    
    <!----------------------------login-------------------------------------------------->
    <%- include("partials/login") %>
    

    <!--------------------------REGISTRO------------------------------------------------->
    
<main class="create__main">
    <h2  class="create__main--title">Editar productos</h2>
    <section class="create__main__section__creacion">
        <h3 class="create__main__section__creacion--title"><%= product.name %></h3>
        <form class="create__main__section__creacion__form" action="/products/update/<%=product.id %>?_method=put" method="POST" enctype="multipart/form-data" id= "formProductUpdate">
            <div class="errores">
                <ul>

                </ul>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
                <% if (errors && errors.name) { %>
                    <small class="alert alert-danger is-invalid" id="msg-error-name" role="alert">
                      <%= errors.name.msg %>
                    </small>
                    <% } else { %>
                        <small id="msg-error-name" class="form-text is-valid"></small>
                    <% } %>
            </div>
        <div class="create__main__section__creacion__contiene">
            <div class="createmainsectioncreacionformcategoria">
                <label for="category">Seleccione Categoria</label>
                <select class="createmainsectioncreacionformcategoria__items" id="category" name="category">
                    <% categories.forEach(category => { %>
                        <option <%= category.id == categoryId ? 'selected' : '' %> value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="create__main__section__creacion__form__product">
            <div class="create__main__section__creacion__form__product__products">
                <div class="col-md-6">
                    <label for="image" class="form-label">Agregar imagen</label>
                    <input class="form-control" type="file" id="image" name="image" value="<%= product.image %>">
                    <img class="imagen_producto"src="/img/<%= product.image  %>" alt="">
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-4">
                    <label for="brand" class="form-label">Marcas</label>
                    <select class="form-select is-valid" id="brand" name="brand">
                        <option value="" selected hidden>seleccione...</option>
                        <% brands.forEach(brand => { %>
                            <option <%= brand.id === brandId && 'selected' %> value="<%= brand.id %>"><%= brand.name %></option>
                        <% }) %>
                       
                    </select>
                    <% if (errors && errors.brand) { %>
                        <small class="alert alert-danger is-invalid" id="msg-error-brand" role="alert">
                            <%= errors.brand.msg %>
                        </small>
                    <% } else { %>
                        <small id="msg-error-brand" class="form-text is-valid"></small>
                    <% } %>
                </div>
                <div class="col-md-4">
                    <label for="model" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="model" name="model" value="<%= product.model %>">
                    <% if (errors && errors.model) { %>
                        <small class="alert alert-danger is-invalid" id="msg-error-model" role="alert">
                            <%= errors.model.msg %>
                        </small>
                    <% } else { %>
                        <small id="msg-error-model" class="form-text is-valid"></small>
                    <% } %>
                </div>
               <!--  <div class="col-md-4">
                    <label for="stock" class="form-label">Stock</label>
                    <select class="form-select" id="stock" name="stock">
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div> -->
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea class="form-control" id="description" rows="3" name="description" ><%= product.description %></textarea>
                <% if (errors && errors.description) { %>
                    <small class="alert alert-danger is-invalid" id="msg-error-description" role="alert">
                        <%= errors.description.msg %>
                    </small>
                <% } else { %>
                    <small id="msg-error-description" class="form-text is-valid"></small>
                <% } %>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="price" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>">
                </div>
                <div class="col-md-6">
                    <label for="discount" class="form-label">Descuento</label>
                    <input type="number" class="form-control" id="discount" name="discount" value="<%= product.discount %>">
                </div>
            </div>
           <!--  <div class="row">
                <div class="col-md-6">
                    <label for="amountDues">Cantidad de Cuotas</label>
                    <select class="form-select" id="amountDues" name="amountDues">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="24">24</option>
                    </select>                        
                </div>
                <div class="col-md-6">
                    <label for="cards">Tarjeta</label>
                    <select class="form-select" id="cards" name="cards">
                        <option value="visa">visa</option>
                        <option value="cabal">cabal</option>
                        <option value="naranja">naranja</option>
                        <option value="argentcard">argentcard</option>
                        <option value="americanExpress">american express</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="shipment" class="form-label">Envío gratis</label>
                    <select class="form-select" id="shipment" name="shipment">
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="location" class="form-label">Lugares de envío</label>
                    <select class="form-select" id="location" name="location">
                        <option value="caba">CABA</option>
                        <option value="gba">GBA</option>
                        <option value="interior">Interior</option>
                    </select>
                </div>
            </div> -->
            <button type="submit"id="btn-submit" class="btn btn-danger float-end mt-4">Guardar</button>
        </form>
    </div>
    
    
</main>    
<%- include('partials/footer') %>

 <script src="/javascripts/validationUpdate.js"></script> 
</body>
</html>