<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>


<body>
    <%- include("partials/header") %>
    
    <%- include("partials/header-nav") %>
			


<section>
    <h2><%= keywords %></h2>

   

<article class="filtrado-search">
<div><h2>HOME filtrado</h2></div>

<div class="dentro-search">
<% if (results.length) { %>

    <% results.forEach(product => { %>
        
            <%- include('partials/productfilter', {
                product
            }) %>
        
    <% }) %>

</div>
<% } else { %>


    <h2>no se encontraron resultados</h2>
<% } %>
</article>
</section>




	<%- include('partials/footer') %>
</body>	


</html>