<div id="register" class="modal-overlay">
    <div class="modal">
        <a href="#" class="close-modal-button" id="closeModal"><i class="fa-solid fa-times"></i></a>
        <div class="form-container">
            <form action="/users/register/?viewError=<%= locals?.view %>" method="POST">
                <div class="contenedor">

                    <div class="img-container"><img src="/img/logonav.png" alt=""></div>
                        <h3>registro</h3>

                        <div class="input-padre">
                            <input class="input-style" type="text" name="name" placeholder="crea usuario" value="<%= locals.old && locals.old.name%>">
                            <span style="color: red" class="error-message"><%= locals?.errorsRegister?.name?.msg %></span>
                        </div>

                    <div class="input-padre">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email" value="<%= locals.old && locals.old.email%>" >
                        <span style="color: red" class="error-message"><%= locals?.errorsRegister?.email?.msg %></span>
            
                    </div>
                    <div class="input-padre">
                        <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                        <span style="color: red" class="error-message"><%= locals?.errorsRegister?.pass?.msg %></span>
            
                    </div>

                    <div class="input-padre">
                        <input class="input-style" type="password" name="passz" placeholder="Repita su contrasena">
                        <span style="color: red" class="error-message"><%= locals?.errorsRegister?.passz?.msg %></span>
            
                    </div>
            
                
                    <div class="input-padre">
                        <button type="submit" class="boton-login">Registrate</button>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const closeModalButton = document.querySelector("#closeModal");
    const nameInput = document.querySelector("input[name='name']");
    const emailInput = document.querySelector("input[name='email']");
    const errorMessages = Array.from(document.querySelectorAll(".error-message"))
           

    closeModalButton.addEventListener("click", function() {
        nameInput.value = "";
        emailInput.value = "";
        errorMessages.forEach(function(errorMessage) {
            errorMessage.style.display = "none";
        });
    });
});
</script>
</div>